.config/vesktop/sessionData/
.config/vesktop/Crashpad/
.config/vesktop/SingletonCookie
.config/vesktop/SingletonLock
.config/vesktop/SingletonSocket
.config/spicetify/Backup/
.config/spicetify/Extracted/

