#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: "#1e1e2e",
    text_color: "#cdd6f4",
    header_background_color: None,
    modal_background_color: "#11111b",
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#eba0ac", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "blue", modifiers: "Bold"),
    borders_style: (fg: "blue"),
    highlight_border_style: (fg: "blue"),
    symbols: (song: "󰎇", dir: "󰉋", marker: " ", ellipsis: "..."),
    progress_bar: (
        symbols: ["", "", "", " ", ""],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "#eba0ac"),
        thumb_style: (fg: "#eba0ac", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [ // view in the queue
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "25%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "65%",
        ),
        // (
        //     prop: (kind: Property(Album), style: (fg: "white"),
        //         default: (kind: Text("Unknown Album"), style: (fg: "white"))
        //     ),
        //     width: "20%",
        // ),
        (
            prop: (kind: Sticker("playCount"), default: (kind: Text("0"))),
            width: "9",
            alignment: Center,
            label: "Playcount"
        ),
        (
            prop: (kind: Sticker("rating"), default: (kind: Text("-"))),
            width: "6",
            alignment: Center,
            label: "Rating"
        ),
        (
            prop: (kind: Sticker("like"), default: (kind: Text("-"))),
            width: "5",
            alignment: Center,
            label: "Liked"
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Center,
        ),
    ],
    components: {
        "progress_bar": Split(
            direction: Horizontal,
            panes: [
                (size: "15", pane: Pane(Property(
                    content: [
                        (kind: Property(Status(Elapsed))),
                        (kind: Text(" / ")),
                        (kind: Property(Status(Duration))),
                    ],
                    align: Left,
                ))),
                (size: "100%", pane: Pane(ProgressBar)),
            ]
        )
    },
    layout: Split(
        direction: Vertical,
        panes: [
            (size: "3", pane: Pane(Header)),
            (size: "1", pane: Component("progress_bar")),
            (size: "3", pane: Pane(Tabs)),
            (size: "100%", pane: Pane(TabContent)),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("Remaining Queue: ")),
                    (kind: Property(Status(QueueTimeRemaining())))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "blue"))
                ]
            ),
            (
                left: [],
                center: [
                    (
                        kind: Property(Song(Artist)), style: (fg: "yellow", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: "Bold"))
                    ),

                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "white", modifiers: "Bold"),
                            separator_style: (fg: "white")))
                        ),
                        style: (fg: "dark_gray")
                    ),
                ]
            ),
            (
                left: [
                    (kind: Text("["), style: (fg: "yellow", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "yellow", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "yellow", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: []
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Title)),
                (kind: Text(" - ")),
                (kind: Property(Artist)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
