spawn-at-startup "waybar" "--config" "/home/lufimio/.config/waybar/config-niri.jsonc"
spawn-at-startup "swww-daemon" "--format" "xrgb"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "swayosd-server"
spawn-at-startup "sh" "-c" "xremap ~/.config/xremap/config.yml --watch"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "walker" "--gapplication-service"
spawn-at-startup "hypridle"
spawn-at-startup "swaync"
spawn-at-startup "swaync"
spawn-at-startup "hyprswitch" "init" "--size-factor" "4"
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "kdeconnectd"

binds {
    Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+T hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "walker"; }
    Mod+W hotkey-overlay-title="Web Browser" { spawn "firefox"; }
    Mod+E hotkey-overlay-title="File Manager" { spawn "thunar"; }

    Mod+Q { close-window; }
    Mod+D { maximize-column; }
    Mod+F11 { fullscreen-window; }

    Mod+Delete hotkey-overlay-title="Lock Device" { spawn "loginctl" "lock-session"; }
    Mod+Ctrl+Delete hotkey-overlay-title="Toggle Logout Menu" { spawn "sh" "-c" "pkill wlogout || wlogout"; }

    Alt+Tab hotkey-overlay-title="Most Recent Application" { "sh" "-c" "hyprswitch gui --mod-key alt --key tab --reverse-key mod=shift --max-switch-offset 9 --close mod-key-release --filter-current-monitor --sort-recent && hyprswitch dispatch" }
    Alt+Shift+Tab hotkey-overlay-title="Least Recent Application"{ "sh" "-c" "hyprswitch gui --mod-key alt --key tab --reverse-key mod=shift --max-switch-offset 9 --close mod-key-release --filter-current-monitor --sort-recent && hyprswitch dispatch -r" }
    Mod+Tab repeat=false { toggle-overview; }
    Mod+O repeat=false { toggle-overview; }

    Mod+N hotkey-overlay-title="Open Notification Menu" { spawn "swaync-client" "-t"; }
    Mod+V hotkey-overlay-title="Toggle Clipboard Menu" { spawn "sh" "-c" "pkill clipse || kitty -T '{system} clipse' -- clipse"; }
    Mod+Period hotkey-overlay-title="Toggle Emoji Picker" { spawn "sh" "-c" "pkill smile || smile"; }
    Mod+Shift+Escape hotkey-overlay-title="Toggle System Resource Manager" { spawn "sh" "-c" "pkill btop || kitty -T '{system} btop' -- btop"; }

    Mod+Shift+N hotkey-overlay-title="Next Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "next"; }
    Mod+Shift+P hotkey-overlay-title="Pause/Play Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "play-pause"; }
    Mod+Shift+B hotkey-overlay-title="Previous Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "previous"; }

    Mod+Shift+S { screenshot; }
    Mod+Ctrl+S { screenshot-window; }
    Mod+Ctrl+Shift+S { screenshot-screen; }

    Mod+Shift+C hotkey-overlay-title="Color Picker (hex)" { spawn "hyprpicker" "--autocopy" "--format=hex"; }
    Mod+Ctrl+Shift+C hotkey-overlay-title="Color Picker (rgb)" { spawn "hyprpicker" "--autocopy" "--format=rgb"; }

    Mod+Shift+R hotkey-overlay-title="Record Region" { spawn "sh" "-c" "~/.config/hypr/hypr/scripts/hyprecord -m region -a \"alsa_output.pci-0000_00_1f.3-platform-skl_hda_dsp_generic.HiFi__Speaker__sink\""; }
    Mod+Ctrl+R hotkey-overlay-title="Record Window" { spawn "sh" "-c" "~/.config/hypr/hypr/scripts/hyprecord -m window -a \"alsa_output.pci-0000_00_1f.3-platform-skl_hda_dsp_generic.HiFi__Speaker__sink\""; }
    Mod+Ctrl+Shift+R hotkey-overlay-title="Record Monitor" { spawn "sh" "-c" "~/.config/hypr/hypr/scripts/hyprecord -m output -a \"alsa_output.pci-0000_00_1f.3-platform-skl_hda_dsp_generic.HiFi__Speaker__sink\""; }

    Mod+Alt+Space { toggle-window-floating; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+0 { switch-preset-column-width; }
    Mod+Shift+0 { switch-preset-window-height; }
    Mod+Ctrl+Shift+0 { reset-window-height; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    // Mod+Shift+Down  { move-window-down; }
    // Mod+Shift+Up    { move-window-up; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }
    // Mod+Shift+J     { move-window-down; }
    // Mod+Shift+K     { move-window-up; }

    Mod+Ctrl+Down           { focus-workspace-down; }
    Mod+Ctrl+Up             { focus-workspace-up; }
    Mod+Ctrl+Shift+Down     { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+Up       { move-column-to-workspace-up; }
    // Mod+Ctrl+Shift+Down     { move-window-to-workspace-down; }
    // Mod+Ctrl+Shift+Up       { move-window-to-workspace-up; }
    Mod+Ctrl+J              { focus-workspace-down; }
    Mod+Ctrl+K              { focus-workspace-up; }
    Mod+Ctrl+Shift+J        { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+K        { move-column-to-workspace-up; }
    // Mod+Ctrl+Shift+J        { move-window-to-workspace-down; }
    // Mod+Ctrl+Shift+K        { move-window-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    // Mod+Shift+1 { move-window-to-workspace 1; }
    // Mod+Shift+2 { move-window-to-workspace 2; }
    // Mod+Shift+3 { move-window-to-workspace 3; }
    // Mod+Shift+4 { move-window-to-workspace 4; }
    // Mod+Shift+5 { move-window-to-workspace 5; }
    // Mod+Shift+6 { move-window-to-workspace 6; }
    // Mod+Shift+7 { move-window-to-workspace 7; }
    // Mod+Shift+8 { move-window-to-workspace 8; }
    // Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+P { toggle-column-tabbed-display; }
    Mod+Z { center-column; }
    Mod+Shift+z { center-visible-columns; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Shift+BracketLeft  { consume-window-into-column; }
    Mod+Shift+BracketRight { expel-window-from-column; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    XF86AudioRaiseVolume    allow-when-locked=true { spawn "swayosd-client" "--output-volume" "+5"; }
    XF86AudioLowerVolume    allow-when-locked=true { spawn "swayosd-client" "--output-volume" "-5"; }
    XF86AudioMute           allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    XF86MonBrightnessUp     allow-when-locked=true { spawn "swayosd-client" "--brightness" "+5"; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn "swayosd-client" "--brightness" "-5"; }
    XF86AudioNext           hotkey-overlay-title="Next Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "next"; }
    XF86AudioPlay           hotkey-overlay-title="Pause/Play Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "play-pause"; }
    XF86AudioPause          hotkey-overlay-title="Pause/Play Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "play-pause"; }
    XF86AudioPrev           hotkey-overlay-title="Previous Song" { spawn "playerctl" "--player=spotify,mpd,vlc,%any" "previous"; }

/*
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
    */
}

workspace "discord"
workspace "music"

environment {
    XCURSOR_SIZE "24"
    HYPRCURSOR_SIZE "24"
    HYPRSHOT_DIR "/home/lufimio/Pictures/Screenshots"
    HYPRECORD_DIR "/home/lufimio/Videos/Recordings"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORMTHEME "wayland"
}

window-rule {
    match title="^[pP]icture[- ]in[- ][pP]icture$"
    open-floating true
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.3; }
    default-floating-position x=7 y=7 relative-to="bottom-right"
}

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

input {
    keyboard {
        numlock
        repeat-delay 400
        repeat-rate 50
    }

    touchpad {
        tap
        dwt
        drag true
        drag-lock
        natural-scroll
        scroll-method "two-finger"
        middle-emulation
    }

    mouse {
        scroll-factor 2
    }

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="20%"
}

output "eDP-1" {
    mode "1366x768@60.059"
    position x=0 y=0
}

output "ViewSonic Corporation VA2406M-LED TEN124101269" {
    mode "1920x1080@60.000"
    position x=-1920 y=-650
}

layout {
    gaps 6

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring { off; }

    border {
        width 2
        active-color "#ac82e9"
        inactive-color "#d8cab8"

        urgent-color "#da70d6"
    }

    shadow {
        on
        softness 2
        spread 5
        color "#1a1a1aee"
    }

    tab-indicator {
        hide-when-single-tab
        place-within-column
    }

    struts {
        left 18
        right 18
        top 3
        bottom 3
    }
}

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

overview {
    zoom 0.5
    backdrop-color "#262626"

    workspace-shadow {
        // off
        softness 40
        spread 10
        color "#00000050"
    }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
    hide-after-inactive-ms 3000
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

clipboard {
    disable-primary
}

xwayland-satellite {
    path "xwayland-satellite"
}
